<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>New Job</h1>

      <%= render 'form', job: @job %>

      <%= link_to 'Back', jobs_path %>
    </div>
  </div>
</div>
