<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-4"><%= title %></h1>
      <% if local_assigns[:subtitle] %>
      <h4><%= subtitle %></h4>
      <% end %>
    </div>
  </div>
</div>
