<div class="container-fluid extremity" id="navbar">
  <nav class="navbar navbar-expand-sm">
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subscription"><b>Email Alerts</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_job_path %>">Submit a Job 💼</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_project_path %>">Submit a Project 💡</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_is_admin? %>
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        <% end %>
        <li class="nav-item active">
          <% if user_signed_in? %>
            <a class="nav-link" href="/logout">Log Out</a>
          <% else %>
            <a class="nav-link" href="/auth/auth0">Log In (no registration needed)</a>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
