<%= render partial: "shared/masthead", locals: { title: "About" } %>

<%= render layout: "shared/body" do %>
  <p>If you're looking to find a high-impact job, or do some high-impact volunteering, it's hard to know where to look.</p>

  <p>There's the <a href='https://80000hours.org/job-board/'>80,000 Hours job board</a> – which is great, though doesn't accept public submissions, and is skewed towards AI research openings.</p>

  <p>There's also the <a href='https://www.facebook.com/groups/1062957250383195/'>Effective Altruism Job Postings</a> Facebook group, which does accept public submissions, but is hard to search, and there aren't personalised alerts.</p>

  <p>There isn't a single, authoritative source for high-impact job openings and volunteer opportunities. So I decided to make one.</p>

  <p>Ultimately, the site will have customisable email alerts for job postings and side projects that interest you.
  <a href="mailto:henry@henrystanley.com">Let me know your thoughts on it.</a></p>

  <p>Oh, and if you have any problems or suggestions, feel free to <a href="https://github.com/henryaj/ea-work-club/issues">file an issue on GitHub</a>!</p>
  <p>—<a href="http://henrystanley.com"><strong>Henry</strong></a></p>
<% end %>
