  <div id="masthead" class="container-fluid">
    <div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="display-1">EA Work Club.</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1>Find a new job or effective project to work on</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="listings-main" class="container-fluid">
    <div class="row justify-content-center">
      <div id="alpha-alert-frontpage" class="col-md-8">
        <div  class="alert alert-warning" role="alert">
          <strong>Hey!</strong> This thing is super new, and things might be broken. If so, please <a href="henry@henrystanley.com">get in touch</a>!
        </div>
      </div>
      <div class="col-md-8">
        <% unless @jobs %>
        <h2>Latest jobs</h2>
          <p>Nothing yet. Check back soon.</p>
        <% else %>
        <h2>Latest jobs</h2>
        <ul>
          <% @jobs.each do |job| %>
            <li class="job-listing-front">
              <h5><a href="<%= url_for job %>"><%= job.title %></a></h5>
              <%= job.preview %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Latest projects</h2>
        <p>Coming soon. <a href="https://tinyletter.com/eaworkclub"><b>Subscribe for updates!</b></a></p>
      </div>
    </div>


  </div>
