  <div id="masthead" class="container-fluid">
    <div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="display-1">EA Work Club.</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1>Find a new job or effective project to work on</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="listings-main" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>There's nothing here yet, sorry.</p>
      </div>
    </div>
  </div>
  <div id="footer" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <small><a href="mailto:henry@henrystanley.com">Contact</a></small>
      </div>
    </div>
  </div>
