<%= render partial: "shared/masthead", locals: { title: "Edit Project" } %>

<div class="container-fluid">
  <div class="row justify-content-center page-section">
    <div class="col-md-8">
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>
