<%= render partial: "shared/masthead", locals: { title: "Projects" } %>

<div class="container-fluid pb-5">
  <div class="row justify-content-center pt-5">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Organisation</th>
            <th>Submitted</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <th scope="row"><%= link_to project.title, project %></th>
              <td><%= project.organisation %></td>
              <td><%= project.created_at.to_date.to_formatted_s(:short) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
