<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-4">Submit a Project</h1>
      <h4>Something you're working on that you need help with, think the EA community should be making, or just that you would find useful in your effective endeavours.</h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center page-section">
    <div class="col-md-8">
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>
