<%= render partial: "shared/masthead", locals: {
  title: "Update email alerts",
  subtitle: "We'll send you weekly email updates for jobs and projects in the selected categories.",
} %>

<div class="container-fluid">
  <div class="row justify-content-center page-section">
    <div class="col-md-8">
      <%= render 'form', subscription: @subscription %>
    </div>
  </div>
</div>
