<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-4">Update email alerts</h1>
      <h4>We'll send you weekly email updates for jobs and projects in the selected categories.</h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center page-section">
    <div class="col-md-8">
      <%= render 'form', subscription: @subscription %>
    </div>
  </div>
</div>
