/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require trix
 */

@import "./actiontext.scss";

#masthead {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 480px) {
  #masthead {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

#masthead-second,
#masthead-third {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (max-width: 480px) {
  #masthead-second,
  #masthead-third {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

#flash {
  margin-top: 4em;
  position: absolute;
  z-index: 100;
  max-width: 500px;
}

.white-on-blue {
  color: white;
  background-color: #0C849B;
}

.masthead-second {
  color: white;
  background-color: #03697C;
}

.masthead-third {
  color: white;
  background-color: #014551;
}

.white-on-blue * a {
  color: white;
  text-decoration: underline;
}

.white-on-blue * a.btn {
  /* this is bad and you should feel bad */
  text-decoration: none;
}

#navbar {
  color: white;
  background-color: black;
}

.nav-link {
  color: white;
  text-decoration-line: underline;
}

.nav-link-dark {
  color:black;
  text-decoration-line: underline;
}

#navbar > .nav {
  color: white;
  background-color: black;
}

@media (max-width: 480px) {
  .extremity {
    line-height: 1;
    font-size: 0.75rem;
  }
}

.page-section {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.no-bullet-list {
  list-style:none;
  padding-left:0;
}

#listings-main {
  padding-top: 4rem;
}

#footer {
  color: black;
  text-decoration-line: underline;
  background-color: #f5f5f5;
  bottom: 0;
  position: absolute;
}

.footer-link {
  color: #333333;
  text-decoration-line: underline;
}

#navbar > .nav {
  color: white;
  background-color: black;
}

li.job-listing-front {
  padding-top: 1em;
  padding-bottom: 1em;
}

li.project-listing-front {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#alpha-alert-frontpage {
  padding-bottom: 2em;
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 1;
  }
}

h1.text-muted a,
h2.text-muted a,
h3.text-muted a,
h4.text-muted a,
h5.text-muted a,
h6.text-muted a {
  color: gray;
}

.tooltip-inner, .tooltip-arrow {
  background-color: #4FA8B8 !important;
}

.color-primary-0 { color: #0C849B }
.color-primary-1 { color: #4FA8B8 }
.color-primary-2 { color: #2C90A3 }
.color-primary-3 { color: #03697C }
.color-primary-4 { color: #025261 }
